* {
  text-align: center;
  margin: auto;
}

.horns {
  font-family: 'Courier New', Courier, monospace;
  border: 3px solid cadetblue;
  border-radius: 5px;
  max-width: max-content;
  margin-top: 20px;
  padding: 20px;
}

.horns img {
  width: 375px;
}

 